<nav class="bg-zinc-900 mx-auto container flex py-10 gap-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left">
        <ul class="flex">
            <li class="mr-14">
                <a href="/" class="font-semibold text-1xl hover:text-[#58ABC7]">Inicio</a>
            </li>
            <li class="mr-14">
                <a href="/#about" class="font-semibold text-1xl hover:text-[#58ABC7]">Acerca de</a>
            </li>
            <li>
                <a href="" class="font-semibold text-1xl hover:text-[#58ABC7]">Servicios</a>
            </li>
        </ul>
    </div>
</nav>
<header class="bg-zinc-900 flex flex-col md:flex-row text-left p-20 gap-3 md:text-center rounded-xl">
    <div class="h-3/6">
        <h1 class="text-4xl font-bold pb-2 text-[#58ABC7]">TransDigitalCoop</h1>
        <p class="my-4 text-2xl">
            Estas listo para hacer parte de la revoluci칩n m치s grande de todos los tiempos, Transformaci칩n Digital para Tod@s
        </p>
        <button class="bg-[#3E994E] px-3 py-2 hover:bg-[#3E990E]"> Conoce m치s </button>
    </div>
    <img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
