---
import testimonials from "../../config/testimonials.json";
---

<div class="bg-transparent flex items-center justify-center">
  <div class="bg-transparent px-5 text-white">
    <div class="">
      <div class="text-center">
        <h1 class="text-6xl md:text-7xl font-bold mb-5 text-[#58ABC7]">
          What people <br />are saying.
        </h1>
        <h3 class="text-xl mb-5 font-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
        <div class="text-center mb-10">
          <span class="inline-block w-1 h-1 rounded-full bg-[#58ABC7] ml-1"
          ></span>
          <span class="inline-block w-3 h-1 rounded-full bg-[#58ABC7] ml-1"
          ></span>
          <span class="inline-block w-40 h-1 rounded-full bg-[#58ABC7]"></span>
          <span class="inline-block w-3 h-1 rounded-full bg-[#58ABC7] ml-1"
          ></span>
          <span class="inline-block w-1 h-1 rounded-full bg-[#58ABC7] ml-1"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
{
  testimonials.map((testimonial) => (
    <div>
      <div class="container max-w-xl mx-auto">
        <div class="flex flex-col items-center p-6 space-y-8 rounded-md lg:h-full lg:p-8 dark:bg-gray-50 dark:text-gray-800">
          <img
            src="https://source.unsplash.com/random/100x100?4"
            alt=""
            class="w-20 h-20 rounded-full dark:bg-gray-500"
          />
          <blockquote class="max-w-lg text-lg italic font-medium text-center">
            <p>
              {testimonial.message}
            </p>
          </blockquote>
          <div class="text-center dark:text-gray-600">
            <p>{testimonial.author}</p>
            <p>{testimonial.company}</p>
          </div>
          <div class="flex space-x-2">
            <button
              type="button"
              aria-label="Page 1"
              class="w-2 h-2 rounded-full dark:bg-gray-900"
            />
            <button
              type="button"
              aria-label="Page 2"
              class="w-2 h-2 rounded-full dark:bg-gray-400"
            />
            <button
              type="button"
              aria-label="Page 3"
              class="w-2 h-2 rounded-full dark:bg-gray-400"
            />
            <button
              type="button"
              aria-label="Page 4"
              class="w-2 h-2 rounded-full dark:bg-gray-400"
            />
          </div>
        </div>
      </div>
    </div>
  ))
}
