---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti vitae eum minus, veritatis illum ullam quis ipsam officiis nesciunt! Optio quae voluptates obcaecati hic laudantium? Ipsam, fugit? Alias, expedita iusto.</p>
</Layout>